@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* outline: 1px solid silver; */
  }

  .box-shadow {
    box-shadow: -0.3rem -0.3rem #45CD45;
  }

  .bg{
    background-image: url('./assets/Rectangle 3.png');
  }

  .first{
    background-image: url('./assets/Rectangle 13.png');
   
  }

  @media (max-width: 678px) {
    .bg{
      /* background-image: none; */
    }
  }