@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/satoshi');


*{
    /* outline: 1px solid silver; */
    font-family: 'Satoshi', sans-serif;
  }

  .box-shadow {
    box-shadow: -0.3rem -0.3rem #45CD45;
  }

  .box-shadow2 {
    box-shadow: 0 -0.3rem 0 0 #45CD45, 0.3rem 0 0 0 #45CD45;
  }
  
  .box-shadow3 {
    /* box-shadow: 0 1 0.3rem -0.3rem #45CD45; */
    box-shadow: -0.3rem 0 0 0 #45CD45, 0 0.3rem 0 0 #45CD45;
  }

  .bg{
    background-image: url('./assets/Rectangle 3.png');
  }

  .first{
    background-image: url('./assets/Rectangle 13.png');
   
  }

  .second{
    background-image: url('./assets/unsplash_QdAAasrZhdk.png');
   
  }

  .third{
    background-image: url('./assets/unsplash_PGnqT0rXWLs.png');
   
  }
  .fourth{
    background-image: url('./assets/unsplash_MHsfcJD2RJw.png');
   
  }
  
  .about {
    background-image: url('./assets/aboutUs.png');
  }
  
  .carousel .rounded-full {
    /* background-color: #61c961; */
    /* position: relative;
    top: 40px; */
  }
 

  .carousel button .sr-only{
    display: none !important;
  }

  @media (max-width: 678px) {
    .bg{
      /* background-image: none; */
    }
  }